{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/tag/architecture-2" class="menu__item menu__item">Architecture</a>
		<a href="/tag/interior" class="menu__item">Interior</a>
		<a href="/tag/furniture/" class="menu__item">Furniture</a> 
		<a href="/tag/innovation" class="menu__item">Innovation</a>
		<a href="/tag/properties-development" class="menu__item">Properties Development</a>
		<a href="/contacts" class="menu__item">Contacts</a>
	</div>
</nav>